<header class="header">
  <div class="header__opacity">
    <div class="wrapper">
      <div class="header__inner">
        <a class="header__logo" href="#">
          <img src="../../../../assets/images/logot.png" alt="">
        </a>
        <ul class="header__socials">
          <li class="header__item">
            <a class="header__link google" href="#">
              <img src="../../../../assets/images/gplus.png" alt="">
            </a>
          </li>
          <li class="header__item">
            <a class="header__link orcid" href="#">
              <img src="../../../../assets/images/orcid.png" alt="">
            </a>
          </li>
          <li class="header__item">
            <a class="header__link facebook" href="#">
              <img src="../../../../assets/images/facebook.png" alt="">
            </a>
          </li>
          <li class="header__item">
            <a class="header__link youtube" href="#">
              <img src="../../../../assets/images/youtube.png" alt="">
            </a>
          </li>
          <li class="header__item">
            <a class="header__link twitter" href="#">
              <img src="../../../../assets/images/twitter.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>