.profile-content {
  margin-top: 2%;
  font-family: verdana;
  font-size: 16px;
}

.button-margin {
  display: block;
  margin: 15px auto;  
  max-width: 150px;
}

.table-margin-top {
  margin-top: 1%;
}

.form-group .login-box-msg {
  font-size: 25px !important;
  text-align: center !important;
}