<!-- <div class="col" *ngIf="!this.isLoaded">
  <div class="profile-content">
    <form [formGroup]="userform" (ngSubmit)="updateUser()">
      <div class="content-wrapper">
        <div class="form-group">
          <p class="login-box-msg">Реєстрація нового користувача</p>
          <hr />
          <div class="col">

            <div class="form-group">
              <input type="text" pInputText placeholder="Електронна адреса" class="form-control"
                formControlName="email">
              <p severity="error" [text]="getErrorMessage('email')"
                *ngIf="!this.userform.controls['email'].valid && this.userform.controls['email'].dirty"></p>
            </div>

            <div class="form-group">
              <input type="text" pInputText placeholder="Ім'я" class="form-control" formControlName="firstName">
              <p severity="error" [text]="getErrorMessage('firstName')"
                *ngIf="!this.userform.controls['firstName'].valid && this.userform.controls['firstName'].dirty"></p>

            </div>

            <div class="form-group">
              <input type="text" pInputText placeholder="Прізвище" class="form-control" formControlName="lastName">

            </div>

            <div class="form-group">
              <input type="text" pInputText placeholder="По-батькові" class="form-control" formControlName="thirdName">

            </div>

            <div class="form-group" *ngIf="!this.userProfile">
              <input type="text" pInputText placeholder="Пароль" class="form-control" (change)="checkConfirmPassword()"
                formControlName="password">

            </div>

            <div class="form-group" *ngIf="!this.userProfile">
              <input (change)="checkConfirmPassword()" type="text" pInputText placeholder="Підтвердити пароль"
                class="form-control" formControlName="confirmPassword">

            </div>

            <div class="form-group">
              <input type="text" pInputText placeholder="Профіль у Google Scholar" class="form-control"
                formControlName="scholarLink">

            </div>

            <div class="form-group">
              <input type="text" pInputText placeholder="Профіль у ORCID" class="form-control"
                formControlName="orcidLink">

            </div>

            <div class="form-group">
            </div>

            <div class="form-group">
            </div>

            <div class="form-group">
            </div>

            <div class="form-group">

            </div>
          </div>
        </div>
        <div class="col">
          <div class="button-margin">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Підтвердити</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->