<section class="intro">
    <div class="intro__inner">
        <div>
            <div class="intro__title">
                <h3>
                    МІНІСТЕРСТВО ОСВІТИ І НАУКИ УКРАЇНИ
                    ХАРКІВСЬКИЙ НАЦІОНАЛЬНИЙ ЕКОНОМІЧНИЙ
                    УНІВЕРСИТЕТ ІМЕНІ СЕМЕНА КУЗНЕЦЯ
                </h3>
                <h3>
                    НАКАЗ
                </h3>
            </div>
            <div class="intro__body">
                <p>
                    На час прийняття Закону України «Про вищу освіту» у новій редакції
                    норми часу та види навчальної роботи для науково-педагогічного персоналу
                    (НПП) були встановлені наказом МОН України № 450 від 07.08.2002 р.
                    відповідно до Закону України «Про вищу освіту» у попередній редакції,
                    зокрема, граничне навчальне навантаження НПП складало 900 годин. Окрім
                    зазначеного, даним наказом не встановлений повний перелік видів та
                    нормування навчальної роботи, яка відповідає сучасним освітнім технологіям:
                    перелік та нормативи зі змішаного навчання та використання технологій
                    дистанційного навчання в навчальному процесі. Окрім того, Постановою
                    Кабінету Міністрів України № 641 від 22 липня 2020 р. «Про встановлення
                    карантину та запровадження обмежувальних протиепідемічних заходів з метою
                    запобігання поширенню на території України гострої респіраторної хвороби
                    COVID-19, спричиненої коронавірусом SARS-CoV-2» (зі змінами та
                    доповненнями) обмежувалось відвідування закладів освіти здобувачами освіти
                    в певні періоди, що обумовило необхідність застосовувати змішане навчання та
                    використовувати технологій дистанційного навчання, а саме персональні
                    навчальні системи (ПНС), системи відео-конференц зв’язку. Відповідно до ст.
                    32 Закону України «Про вищу освіту», що визначає автономію закладу вищої
                    освіти та рішення Вченої ради Університету від 14.01.2020 р. Протокол № 1
                    НАКАЗУЮ :
                </p>
                <p>
                    1. Ввести в дію зміни до Додатку Б Положення про планування та облік
                    роботи науково-педагогічних і педагогічних працівників, що ухвалені вченою
                    радою університету, а саме визнати такими, що втратили чинність п. 10, 11, 12,
                    13, 15, 17.
                </p>
                <p>
                    2. Ввести в дію зміни до Додатку В Положення про планування та облік
                    роботи науково-педагогічних і педагогічних працівників, що ухвалені вченою
                    радою університету, а саме додати пункти та викласти їх в наступній редакції:
                </p>
            </div>
        </div>
        <table>
            <tr>
                <th>Назва методичної
                    роботи відповідно до
                    наказу МОН
                    України № 450
                    від 07.08.2002 р.</th>
                <th>
                    № з/п
                </th>
                <th>
                    Види методичної
                    Роботи для
                    ХНЕУ ім. С. Кузнеця
                </th>
                <th>
                    Норми часу
                    для ХНЕУ
                    ім. С. Кузнеця
                </th>
                <th>
                    Форма
                    звітності
                </th>
            </tr>
            <tr>
                <td></td>
                <td>1.6</td>
                <td colspan="3">МЕТОДИЧНА НАВЧАЛЬНА РОБОТА</td>
            </tr>
            <tr>
                <td>Використання
                    технологій
                    дистанційного
                    навчання, а саме
                    ПНС, систем
                    відео-конференц
                    зв’язку
                </td>
                <td>
                    1.6.1
                </td>
                <td>
                    Проведення
                    консультацій із
                    навчальних дисциплін
                    протягом семестру
                </td>
                <td>
                    Від загального
                    обсягу
                    навчального
                    часу,
                    відведеного на
                    вивчення
                    навчальної
                    дисципліни на
                    академічну
                    групу:
                    до 2 % для
                    денної форми
                    навчання;
                    2 години на
                    академічну
                    групу для
                    заочної форми
                    навчання
                </td>
                <td>
                    Журнал
                    консультацій
                    викладачів
                </td>
            </tr>
            <tr>
                <td></td>
                <td>1.6.2.</td>
                <td>Проведення
                    екзаменаційних
                    консультацій
                </td>
                <td>вступний
                    екзамен:
                    до 2 годин на
                    потік
                    семестровий
                    екзамен:
                    до 2 години на
                    академічну
                    групу
                    підсумковий
                    екзамен:
                    до 2 годин на
                    потік із кожної
                    навчальної
                    дисципліни, що
                    входить до
                    програми
                    державного
                    екзамену
                </td>
                <td>Розклад
                    екзаменаційн
                    ої сесії,
                    розклад
                    вступних
                    екзаменів,
                    розклад
                    кваліфікаційн
                    ого іспиту за
                    спеціальністю
                </td>
            </tr>
            <tr>
                <td>Використання
                    технологій
                    дистанційного
                    навчання, а саме
                    ПНС, систем
                    відео-конференц
                    зв’язку
                </td>
                <td>1.6.3.</td>
                <td>Перевірка контрольних
                    (модульних) робіт,
                    передбачених
                    навчальним планом, що
                    виконуються під час
                    аудиторних занять
                </td>
                <td>
                    до 5 % від
                    кількості
                    кредитів,
                    виділених на
                    навчальну
                    дисципліну на
                    одного
                    студента
                </td>
                <td>
                    Робочий план
                    (технологічна
                    карта)
                    навчальної
                    дисципліни
                </td>
            </tr>
            <tr>
                <td></td>
                <td>1.6.4.</td>
                <td>
                    Перевірка і приймання
                    контрольних
                    (модульних) робіт,
                    передбачених
                    навчальним планом, що
                    виконуються
                    під час самостійної
                    роботи
                </td>
                <td>
                    до 0,33 години
                    на одну роботу
                </td>
                <td>
                    Робочий план
                    (технологічна
                    карта)
                    навчальної
                    дисципліни
                </td>
            </tr>
            <tr>
                <td></td>
                <td>1.6.5.</td>
                <td>Проведення заліку</td>
                <td>
                    до 2 годин на
                    академічну
                    групу
                </td>
                <td>
                    Робочий план
                    (технологічна
                    карта)
                    навчальної
                    дисципліни
                </td>
            </tr>
            <tr>
                <td></td>
                <td>1.6.6</td>
                <td>
                    Проведення
                    семестрових екзаменів:
                    в усній формі (тільки
                    для заочної форми
                    навчання)
                    у письмовій формі
                </td>
                <td>
                    до 0,33 години
                    на одного
                    студента
                    до 0,25 години
                    на перевірку
                    однієї роботи
                </td>
                <td>
                    Розклад
                    екзаменаційн
                    ої сесії
                </td>
            </tr>
        </table>
        <br>
        <div class="intro__body">
            <p>
                3. Деканам факультетів, завідувачам кафедр ДОВЕСТИ ДО ВІДОМА
                науково-педагогічному персоналу кафедр щодо зміни Положення про
                планування та облік роботи науково-педагогічних і педагогічних працівників.
            </p>
            <p>
                4. Науково-педагогічному персоналу кафедр ВНЕСТИ зміни до своїх
                індивідуальних планів за 1 та 2 семестр 2020–2021 навчального року.
            </p>
            <p>
                5. Контроль за виконанням Наказу ПОКЛАСТИ на проректора з
                навчально-методичної роботи Немашкало К. Р.
            </p>
        </div>
        <div class="intro__end">
            <span>Ректор</span><span>Володимир ПОНОМАРЕНКО</span>
        </div>
    </div>
</section>