<header class="header">
  <div class="wrapper">
    <a class="header__logo" href="http://www.hneu.edu.ua/"
      title="Харківский  національний економічний університет імені Семена Кузнеця" rel="home">
    </a>
  </div>
</header>
<section class="auth">
  <div class="wrapper">
    <div class="auth__inner">
      <span class="auth__title" title="Вхід в персональний кабінет викладача">Вхід в персональний кабінет
        викладача</span>

      <div class="auth__background-image"></div>
      <form class="auth__form" [formGroup]="userform" (ngSubmit)="onSubmit()">

        <div class="auth__container">
          <div class="auth__input-content">
            <label class="auth__input-image auth__input-image--login" for="auto-login"></label>
            <input class="auth__input" type="email" placeholder="ЛОГІН" formControlName="email" id="auto-login">
              <span class="auth__incorrect" *ngIf="user.email.invalid && user.email.errors.required && (user.email.dirty || user.email.touched)">
                Це поле є обов'язковим!
              </span>
              <span class="auth__incorrect" *ngIf="user.email.invalid && user.email.errors.email && (user.email.dirty || user.email.touched)">
                Некоректний Email!
              </span>
          </div>

          <div class="auth__input-content">
            <label class="auth__input-image auth__input-image--password" for="auto-pass"></label>
            <input class="auth__input" type="password" placeholder="ПАРОЛЬ"formControlName="password" id="auto-pass">
              <span class="auth__incorrect" *ngIf="user.password.invalid && user.password.errors.required && (user.password.dirty || user.password.touched)">
                Це поле є обов'язковим!
              </span>
          </div>
      
          <!-- <div class="auth__form-check">
            <input class="auth__check" type="checkbox" id="auto-check" requiredx>
            <label class="auth__check-label" for="auto-check">Запам'ятати мене</label>
          </div> -->
          <button class="auth__btn" type="submit">
            <span class="auth__btn-title">Вхід</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>