<header class="header">
  <div class="wrapper">
    <a class="header__logo" href="http://www.hneu.edu.ua/"
      title="Харківский  національний економічний університет імені Семена Кузнеця" rel="home">
    </a>
  </div>
</header>
<section class="authorization">
  <div class="wrapper">
    <div class="authorization__inner">
      <span class="authorization__title" title="Вхід в персональний кабінет викладача">Вхід в персональний кабінет
        викладача</span>

      <div class="authorization__background-image"></div>
      <form class="authorization__form" [formGroup]="userform" (ngSubmit)="onSubmit()">

        <div class="authorization__container">
          <div class="authorization__input-content">
            <label class="authorization__input-image authorization__input-image--login" for="auto-login"></label>
            <input class="authorization__input" 
              type="email" placeholder="ЛОГІН" 
              formControlName="email"
              id="auto-login">
              <span *ngIf="user.email.invalid && user.email.errors.required && (user.email.dirty || user.email.touched)">
                This field is required!
              </span>
              <span *ngIf="user.email.invalid && user.email.errors.email && (user.email.dirty || user.email.touched)">
                Email is invalid!
              </span>
          </div>

          <div class="authorization__input-content">
            <label class="authorization__input-image authorization__input-image--password" for="auto-pass"></label>
            <input class="authorization__input" 
              type="password" 
              placeholder="ПАРОЛЬ"
              formControlName="password" 
              id="auto-pass">
              <span *ngIf="user.password.invalid && user.password.errors.required && (user.password.dirty || user.password.touched)">
                This field is required!
              </span>
          </div>
      
          <!-- <div class="authorization__form-check">
            <input class="authorization__check" type="checkbox" id="auto-check" requiredx>
            <label class="authorization__check-label" for="auto-check">Запам'ятати мене</label>
          </div> -->
          <button class="authorization__btn" type="submit">
            <span class="authorization__btn-title">Вхід</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>