.profile-content {
  font-family: verdana;
  font-size: 16px;
}

.button-margin {
  display: block;
  margin: 15px auto;  
  max-width: 150px;
}

.result-student {
  display: block;
  font-size: 25px;
  margin: 10px 0;
  text-align: center;
}

.column {
  text-align: center;
  padding: 20px 0 !important;
  font-size: 12px;
}

.col {
  padding: 0px;
}

.col-info {
  padding: 0 15px;
}
.form-group {
  display: block;
  max-width: 900px;
  margin: 0 auto 10px auto ;
}

@media (max-width: 1035px) {
  .column {
    font-size: 9px;
  }
}
