<footer class="footer">
    <div class="wrapper">
        <div class="footer__inner">
            <div class="footer__socials">
                <span class="footer__title">Зв'яжіться з нами</span>
                <ul class="footer__socials-list">
                    <li class="footer__item">
                        <a class="footer__link google" href="#">
                            <img src="../../../../assets/images/gplus.png" alt="">
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link orcid" href="#">
                            <img src="../../../../assets/images/orcid.png" alt="">
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link facebook" href="#">
                            <img src="../../../../assets/images/facebook.png" alt="">
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link youtube" href="#">
                            <img src="../../../../assets/images/youtube.png" alt="">
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link twitter" href="#">
                            <img src="../../../../assets/images/twitter.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__container">
                <ul class="footer__menu">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" routerLink="/home" href="#">Головна</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" routerLink="publication" href="#">Публікації</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Індивідуальний план</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" routerLink="dashboard" href="#">Розклад занять</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Керівні документи</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" routerLink="user" href="#">Нові Користувачі</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Результати НДР</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">План Науки</a>
                    </li>
                </ul>
                <address class="footer__data">
                    <ul class="footer__data-list">
                        <li class="footer__data-item">Контакти</li>
                        <li class="footer__data-item">
                            <a class="footer__data-link" href="mail:post@hneu.edu.ua">post@hneu.edu.ua</a>
                        </li>
                        <li class="footer__data-item">
                            Приймальна комісія:
                            <a class="footer__data-link" href="tel:0577021837">(057) 702 18 37</a>
                        </li>
                        <li class="footer__data-item">
                            Приймальня ректора:
                            <a class="footer__data-link" href="tel:0577020304">(057) 702 03 04</a>
                        </li>
                        <li class="footer__data-item">
                            Відділ діловодства і канцелярії:
                            <a class="footer__data-link" href="tel:0577020717">(057) 702 07 17</a>
                        </li>
                        <li class="footer__data-item">
                            Соціальна-психологічна служба ХНЕУ ім. С. Кузнеця:
                            <a class="footer__data-link" href="tel:0501351519">(050) 135 15 19</a>
                        </li>
                        <li class="footer__data-item">Participant Identification Code (PIC) S. KUZNETS KhNUE - 941523323
                            м. Харків, просп. Науки, 9-А, 61166 Україна</li>
                    </ul>
                </address>
                <div class="footer__logo">
                    <a href="https://www.hneu.edu.ua/">
                        <img src="../.. /../../assets/images/logo-khneu_footer.png" alt="">
                    </a>
                </div>
            </div>
            <div class="footer__copyright">
                <a class="footer__copyright-logo" href="https://mon.gov.ua/ua">
                    <img src="../../../../assets/images/logo-min-osv.png" alt="">
                </a>
                <a class="footer__copyright-logo" href="https://ukc.gov.ua/">
                    <img src="../../../../assets/images/uks-gov.png" alt="">
                </a>
                <span class="footer__copyright-data">2020 © Усі права захищені.</span>
            </div>
        </div>
    </div>
</footer>