@import "../../../../styles/mixin.scss";
$font: Verdana;

table {
  width: 80%;
  margin: 20px auto 0 auto;
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.login-form {
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #e1e1e1;
  padding: 11px 0 26px 0;
}

.times {
  display: block;
  font-family: $font;
  font-size: 25px;
  color: #050505;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.file {
  display: block;
  font-family: $font;
  text-align: center;
  outline: none;
  margin: 28px auto 0 auto;
}

.ui-inputtext {
  display: block;
  max-width: 600px;
  outline: none;
  margin: 25px auto 0 auto;
  padding: 1px 0 3px 0;
  font-family: $font;
  color: #636d6d;
  font-size: 18px;
  font-weight: 400;
  line-height: 5.4px;
  text-align: center;
  text-transform: uppercase;
}


.files {
  display: block;
  margin-top: 0 !important;
  text-align: center;
  font-family: $font;
  font-size: 24px;
}



@import "../../../../styles/mixin.scss";

$blue-background: #141880;

*,
html {
  @include segoe-semi;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  @include wrapper;
  @include r(992) {
    max-width: 960px;
  }

  @include r(768) {
    max-width: 720px;
  }

  @include r(576) {
    max-width: 540px;
  }
}

.intro {
  &__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 62px 0 146px;

    @include r(576) {
      padding: 45px 0;
    }
  }

  &__title {
    @include segoe-bold;
    text-align: center;
    font-size: 30px;
    color: #2c2b2b;

    @include r(480) {
      font-size: 24px;
    }
  }

  &__container {
    margin-top: 50px;
    width: 60%;
    border-left: 15px solid $blue-background;

    @include r(992) {
      width: 100%;
    }

    @include r(768) {
      padding-left: 20px;
    }

    @include r(576) {
      margin-top: 30px;
      border-left: none;
      padding-left: 0;
    }
  }

  &__item {
    display: flex;
    text-align: right;

    & + & {
      margin-top: 35px;

      @include r(576) {
        margin-top: 25px;
      }
    }

    @include r(768) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__suptitle {
    margin-right: 5%;
    width: 50%;
    font-size: 30px;
    line-height: 30px;

    @include r(992) {
      width: 30%;
    }

    @include r(768) {
      width: 100%;
      line-height: 34px;
    }

    @include r(576) {
      font-size: 20px;
    }
  }

  &__data {
    padding: 5px 10px;
    width: 45%;
    text-align: justify;
    font-size: 25px;
    color: #000;
    background-color: rgba(128, 128, 128, 0.5);

    @include r(992) {
      width: 65%;
    }

    @include r(768) {
      width: 100%;
      text-align: center;
    }

    @include r(576) {
      font-size: 15px;
    }
  }
}
