<main class="main">
  <section class="intro">
    <div class="wrapper">
      <div class="intro__inner" data-ng-controller="registerController as registerCtrl" ng-cloak
      data-ng-init="registerCtrl.init()">
          <span class="intro__title">Ваш особистий кабінет</span>
          <div class="intro__container">
            <div class="intro__item">
              <div class="intro__suptitle">П. I .Б.</div>
              <div class="intro__data">{{userProfile.givenName}}</div>
            </div>
            <div class="intro__item">
              <div class="intro__suptitle">Посада</div>
              <div class="intro__data">{{userProfile.sn}}</div>
            </div>
            <div class="intro__item">
              <div class="intro__suptitle">Звання</div>
              <div class="intro__data">{{userProfile.sn}}</div>
            </div>
            <div class="intro__item">
              <div class="intro__suptitle">Ступiнь</div>
              <div class="intro__data">{{userProfile.sn}}</div>
            </div>
            <div class="intro__item">
              <div class="intro__suptitle">e-mail</div>
              <div class="intro__data">{{userProfile.mail}}</div>
            </div>
            <div class="intro__item">
              <div class="intro__suptitle">Google Scholar</div>
              <div class="intro__data">...</div>
            </div>
            <div class="intro__item">
              <div class="intro__suptitle">Orcid Scholar</div>
              <div class="intro__data">...</div>
            </div>
            <div class="intro__item">
              <div class="intro__suptitle">Scopus</div>
              <div class="intro__data">...</div>
            </div>



          </div>
          <!-- <div class="col edit">
              <div class="button-margin">
                <button class="btn btn-primary btn-block btn-flat" (click)="toggleEditUser()">Редагувати</button>
              </div>
            </div> -->
      </div>
    </div>
  </section>
</main>
<!-- <add-update-user *ngIf="isEdit" [applicationUserId]="userProfile.applicationUserId"></add-update-user> -->