@import "../../../../styles/mixin.scss";

$blue-background: #141880;

*,
html {
  @include segoe-semi;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  @include wrapper;
  @include r(992) {
    max-width: 960px;
  }

  @include r(768) {
    max-width: 720px;
  }

  @include r(576) {
    max-width: 540px;
  }
}

.intro {
  &__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 62px 0 146px;

    @include r(576) {
      padding: 45px 0;
    }
  }

  &__title {
    @include segoe-bold;
    text-align: center;
    font-size: 30px;
    color: #2c2b2b;

    @include r(480) {
      font-size: 24px;
    }
  }

  &__container {
    margin-top: 50px;
    width: 60%;
    border-left: 15px solid $blue-background;

    @include r(992) {
      width: 100%;
    }

    @include r(768) {
      padding-left: 20px;
    }

    @include r(576) {
      margin-top: 30px;
      border-left: none;
      padding-left: 0;
    }
  }

  &__item {
    display: flex;
    text-align: right;

    & + & {
      margin-top: 35px;

      @include r(576) {
        margin-top: 25px;
      }
    }

    @include r(768) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__suptitle {
    margin-right: 5%;
    width: 50%;
    font-size: 30px;
    line-height: 30px;

    @include r(992) {
      width: 30%;
    }

    @include r(768) {
      width: 100%;
      line-height: 34px;
    }

    @include r(576) {
      font-size: 20px;
    }
  }

  &__data {
    padding: 5px 10px;
    width: 45%;
    text-align: justify;
    font-size: 25px;
    color: #000;
    background-color: rgba(128, 128, 128, 0.5);

    @include r(992) {
      width: 65%;
    }

    @include r(768) {
      width: 100%;
      text-align: center;
    }

    @include r(576) {
      font-size: 15px;
    }
  }
}
