<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a class="menu__link" (click)="redirectTo('home')">Головна</a>
    </li>
    <li class="menu__item" *ngIf="isTeacher || isHeadOfDepartmen">
      <a class="menu__link">Індивідуальний план</a>
    </li>
    <li class="menu__item" *ngIf="isTeacher || isTrainingDivision">
      <a class="menu__link" routerLink="">Розклад занять</a>
    </li>
    <li class="menu__item" *ngIf="isTeacher || isTrainingDivision">
      <a class="menu__link" (click)="redirectTo('document')">Керівні документи</a>
    </li>
    <li class="menu__item" *ngIf="isTeacher || isTrainingDivision">
      <a class="menu__link" (click)="redirectTo('load')">Розподілення навантаження</a>
    </li>
    <li class="menu__item" *ngIf="isHeadOfDepartmen">
      <a class="menu__link down" (click)="redirectTo('upload-distribution')" routerLinkActive="active">Файл навантаження</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" (click)="logout()">Вихід</a>
    </li>
  </ul>
</nav>