    <!-- <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#" routerLink="/home">Головна</a>
        </li>
        <li *ngIf="isTeacher || isHeadOfDepartmen" class="menu__item">
          <a class="menu__link" href="#" routerLink="publication">Публікації</a>
        </li>
        <li class="menu__item" *ngIf="isTeacher || isHeadOfDepartmen">
          <a class="menu__link" href="#">Індивідуальний план</a>
        </li>
        <li class="menu__item" *ngIf="isTeacher || isHeadOfDepartmen">
          <a class="menu__link" href="#" routerLink="dashboard">Розклад занять</a>
        </li>
        <li class="menu__item" *ngIf="isTeacher || isHeadOfDepartmen">
          <a class="menu__link" href="#" >Керівні документи</a>
        </li>

        <li class="menu__item" *ngIf="isHeadOfDepartmen">
          <a class="menu__link" href="#">Результати НДР</a> -->
          <!-- <ul class="submenu">
            <li>
              <a href="#">Файл навантаження</a>
            </li>
            <li>
              <a href="#">По кафедрі</a>
            </li>
            <li>
              <a href="#">Розподіл</a>
            </li>
          </ul> -->
        <!-- </li>
        <li class="menu__item" *ngIf="isHeadOfDepartmen">
          <a class="menu__link" href="#">План науки</a>
        </li>
        <li class="menu__item" *ngIf="isTrainingDivision">
          <a class="menu__link down" href="#" routerLink="upload-distribution">Файл навантаження</a>
          
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#" (click)="logout()">Вихід</a>
        </li>
      </ul>
    </nav> -->

