@import "../../../../styles/mixin.scss";
$blue-background: #141880;

.form {
    margin: 20px;
    display: flex;
}

.group {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.intro {
    &__inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 62px 0 146px;

        @include r(576) {
            padding: 45px 0;
        }
    }

    &__title {
        @include segoe-bold;
        text-align: center;
        font-size: 30px;
        color: #2c2b2b;

        @include r(480) {
            font-size: 24px;
        }
    }

    &__container {
        margin-top: 50px;
        width: 60%;
        border-left: 15px solid $blue-background;

        @include r(992) {
            width: 100%;
        }

        @include r(768) {
            padding-left: 20px;
        }

        @include r(576) {
            margin-top: 30px;
            border-left: none;
            padding-left: 0;
        }
    }
}
