@import "../../../../styles/mixin.scss";

$blue-background: #141880;

*,
html {
  @include segoe-semi;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  @include wrapper;
}

.publication {
  &__inner {
    padding: 25px 0;
  }

}
